.body{
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: auto;
}

.loader{
  width: 100%;
  height: 100%;
}

.spinner{
  opacity: 0;
  margin-top: 300px;
  position: fixed;
  -webkit-animation: loading 3.5s linear 1;
  animation: loading 3.5s linear 1;
}



.containeur{
  opacity: 1;
  -webkit-animation: apparition-page 3.5s linear 1;
  animation: apparition-page 3.5s linear 1;
}

.lettre{
  margin-left: 50px;
  font-size: 80px;
  letter-spacing: 70px;
  animation: flash 1.2s linear infinite;
}

.lettre:nth-child(1){
  animation-delay: 0.1s;
}
.lettre:nth-child(2){
  animation-delay: 0.2s;
}
.lettre:nth-child(3){
  animation-delay: 0.3s;
}
.lettre:nth-child(4){
  animation-delay: 0.4s;
}
.lettre:nth-child(5){
  animation-delay: 0.5s;
}
.lettre:nth-child(6){
  animation-delay: 0.6s;
}
.lettre:nth-child(7){
  animation-delay: 0.7s;
}
.lettre:nth-child(8){
  animation-delay: 0.8s;
}

.fondu-out{
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

@keyframes loading{
  0%{
      opacity: 1;
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}

@-webkit-keyframes loading{
  0%{
      opacity: 1;
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}

@keyframes apparition-page{
  0%{
      opacity: 0;
  }
  50%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@-webkit-keyframes apparition-page{
  0%{
      opacity: 0;
  }
  50%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@keyframes flash{
  0%{
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  50%{
    color: #FF79DA ;
    text-shadow: #FF79DA ;
  }

  100%{
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0;
  }
}


h1 {
background-color: white;
  color: black;
  font-family: "Shrikhand";
}

h2{
    margin: 0px;
}


.logo{
    text-align: center;
}



.searchbar{
    display: flex;
    justify-content: center;
    background-color: #e4e4e4;
  box-shadow: inset 0 3px 5px -5px #2c2c2c;
}

.fas.mapmarker{
  margin-top: 15px;
  color: #2c2c2c;
}

.reserver{
    text-align: center;
    background-color: #F6F6F6;
    padding-top: 10px;
    flex-wrap: wrap;
}

.titre-fonctionnement{
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#decouvrez{
    text-align: center;
}

.btn{
  border-radius: 30px 30px 30px 30px;
  padding: 15px 20px;
  background: linear-gradient(#ea72da, #9356dc);
  border-style: hidden;
  font-size: 18px;
  color: white;
  width: 250px;
 margin-bottom: 20px;
  box-shadow: 2px 2px 5px 2px #dddddd;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}


.btn:hover {
  background: linear-gradient(#ed88e0, #a16be0);
  transform: scale(1.15);
}

  .filtre{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    margin: 15px;
    box-shadow: 2px 2px 5px 2px #dddddd;
    padding: 10px;
    width: 250px;
    background-color: #f6f6f6;
    border-radius: 15px;
    font-weight: bold;
  }

  .filtre:hover {
    background: linear-gradient(to right, rgba(201, 171, 238, 0.2), rgba(147, 86, 220, 0.2));
  }
  .number{
    margin-right: 5%;
    margin-left: -22px;
    background-color: #9356dc;
    padding: 3px 8px;
    border-radius: 50%;
    color: white;
    font-weight: lighter;
  }

  .fas{
    margin-right: 15px;
    color:#909090;
  }

.section-fonctionnement{
    display: flex;
    flex-direction: row;
    flex-direction: column;
}

.titre-fonctionnement{
  text-align: center;
}

.fonctionnement{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.titre-restaurants{
    text-align: center;
    padding-top: 40px;
}

.restaurants a{
  text-decoration: none;
}

.section-restaurants{
    background-color: #f6f6f6;
    width: 100%;
    margin: auto;
    height: auto;
  }

  .carte-restaurants{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
  }
  
  .section-restaurants a{
    margin: 25px 20px;
  }
  

.restaurants{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
}

.description{
display: flex;
justify-content: space-between;  
background-color: white;
border-radius: 0px 0px 20px 20px;
}

.figcaption{
  width: 100%;
}

.icone-coeur {
  font-size: 30px;
  margin-top: 17px;
  margin-right: 10px;
 
}

.coeur-plein{
  position: absolute;
  transform: scale(0);
-webkit-transform: scale(0);
-webkit-transition: transform 1s linear;
transition: transform 1s linear;
background: linear-gradient(#9356dc, #ff79da);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
z-index: 2;
}

.coeur-vide{
  transform: scale(1);
  -webkit-transform: scale(1);
  overflow: hidden;
}
.icone-coeur:hover .coeur-plein{
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
}

.icone-coeur:hover .coeur-vide{
  transform: scale(1);
  -webkit-transform: scale(1);

}


  .title{
    font-size: 18px;
    color: black;
    margin: 10px 10px 5px;
    text-decoration:none; 
  }

  .sous-title{
    font-size: 18px;
    color: black;
    margin: 10px 10px 5px;
    text-decoration:none; 
  }

  .new{
    border-radius: 10%;
    padding: 5px 10px;
    margin-left: 60%;
    margin-top: 15px;
    position: absolute;
    background-color: #99e2d0;
    color: #2c9c81;
    font-size: 14px;
    font-weight: bold;
  }
.preview {
    width: 100%;
    height: 175px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    display: block;
    object-fit: cover;
  }

.footer {
    background-color:#2c2c2c;
    font-family: "Shrikhand";
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }

  .footer-titre{
    font-family: "Shrikhand";
    color: white;
    padding-top: 20px;
  }

  .footer a{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-decoration: none;
  }

  ul{
    padding: 0px;
    margin-top: 20px;
  }

  .mentions-legales{
    padding-left: 30px;
  }

  .ustensils{
    color: white;
    margin-right: 0px;
  }

  .helping{
    color: white;
    margin-right: 0px;
  }

  ul{
    list-style: none;
    padding: 0px;
  }
  li{
    padding-top: 10px;
  }

  .a{
    text-decoration: none;
  }

  @media screen and (max-width: 720px) {

    .mentions-legales{
      padding-left: 0px;
    }

    .footer{
      display: flex;
      text-align: center;
      padding-left: 30px;
    }

    .fonctionnement{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .logo{
    width: 50%;
    margin-left: 50px;
  }

  .new{
    margin-left: 35%;
  }

  .lettre{
    font-size: 30px;
    letter-spacing: -70px;
    animation: flash 1.2s linear infinite;
  }

  }

  @media screen and (max-width: 1366px) {

    .new{
      margin-left: 58%;
    }
    .lettre{
      margin-left: 100px;
      font-size: 50px;
      letter-spacing: 10px;
      animation: flash 1.2s linear infinite;
    }
  }

  @media screen and (max-width: 1024px) {

    
    .lettre{
      
      font-size: 40px;
      letter-spacing: -40px;
      animation: flash 1.2s linear infinite;
    }
  }
  @media screen and (max-width: 768px) {

    .new{
      margin-left: 53%;
    }
  }